body{
    background-image: url("../DATA/BACKGROUNDS/b3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
}

#goToHome{
    box-sizing: border-box;
    padding: 30px;
    float: left;
    width: 100px;
    height: 80px;
    color:aquamarine;
    background-color:#303030;
}

#goToHome:hover{
    background-color: white;
    color: black;
}

main{
    box-sizing: border-box;
    position: relative;
    width: 100%;
}
#p1{
    margin-left: 80px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    width: 600px;
    font-size: 22px;
    text-align: left;
}
#p2{
    margin-left: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: left;
}
#name{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 350px;
    font-size: 50px;
    text-align: left;
}

main section figure{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0px;
    display: inline-block;
    width: 300px;
}

.fields{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 242, 255);
    margin-top: 150px;
    margin-left: 40px;
    font-size: 30px;
    text-align: left;
}

.grid-container{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:100px;
}
#Status{
    margin-top: 40px;
}

#statusData{
    text-align: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
}
#statusData a{
    color: white;
}

section ul{
    margin-left: 50px;
    color: white;
    font-size: 25px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
}

#about{
    margin-left: 40px;
    color: white;
    font-size: 30px;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 120px;
}

header{
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    color: #ffffff;
    background-image: linear-gradient(to right,#282828,#A8A8A8);
    text-align: center;
    width: 100%;
    height: 80px;
    font-family: 'Roboto', sans-serif;
}

header p{
    margin-top: 15px;
    font-size: 35px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-style: italic;
}

footer{
    position: absolute;
    left: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: rgb(49, 50, 50);
    color: black;
}

#goToTop{
    color:crimson;
    padding-left: 15px;
    position: relative;
    top:  20px;
    float: left;
    width: 60px;
}
#gmail,#insta {
    float: right;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
  }
.fa-instagram{
    background: #3B5998;
    color: white;
}
  
  /* Twitter */
.fa-google {
    background: #55ACEE;
    color: white;
}
#eMail{
    padding: 10px;
    float: right;
    font-weight: bold;
    font-style: italic;
    color: aliceblue;
}

#gitHub{
    position: relative ;
    top: 20px;
}

.fa-2x {
    vertical-align: middle;
}
