body{
    margin:0%;
}

h1{
    font-family:'Noto Serif Display',serif;
}

h2{
    font-family: 'Cairo',sans-serif;
}

.Education h3,span h3{
    font-family: 'Gideon Roman',sans-serif;
}

.skills2,p,span,.social,.contact{
    font-family: 'Poppins',sans-serif;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github{
    background: black;
    color: white;
}

.fa-home{
    color: black;
}

.fa-big{
    font-size: 3em !important;
}

.fa-linkedin:hover{
    transform: translateY(16px);
}

.fa-github:hover{
    transform: translateY(16px);
}

.avinash{
    margin: 10px;
    position: relative;
}

body{
    background-image: url('Background_personal.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.avinash #heading{
    text-decoration: underline;
}

.avinash .contact{
    text-align: right;
    float:right !important;
    position: relative; bottom: 10px;
   
    right:16px; 
}

.avinash .social{
    text-align: left;
    float: left !important;
    position: relative; bottom:0;
    left:16px;
    transition: transform 0.3s ease-out;
}

#myself{
    padding: 10px;
    width: 110px;
    border-radius: 70%;
    float :right !important;
    background-attachment: fixed;
}

.skills2{
    left:50%; top:50%;
    padding:30px 30px 50px;
}

.container {
width: 100%;
background-color: whitesmoke;
border-radius: 20px;
}

.skills {
text-align: right;
border-radius: 10px;
color: white;
}

.c {width: 80%; background-color: #52d846; }
.css {width: 70%; background-color: #2196F3;}
.py {width: 65%; background-color: #2b5b84;}
.git {width: 70%; background-color: #e4ac46;}
.sql {width: 60%; background-color: #f29221;}
